@import url("http://fonts.cdnfonts.com/css/arial-mt-std");

._container {
  max-width: 1270px;
  margin: 0 auto;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  height: 100px;
  border-bottom: 1px solid #DEDEDE;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.head__collumn {
  padding-top: 10px;
}

.head__logo {
  margin: right auto;
  margin-left: 20px;
}

.head__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head__nav ul li {
  margin: 0 20px 0 0;
}

.head__nav ul li a {
  font-family: 'Arial MT Std', sans-serif;
  color: #000;
  white-space: nowrap;
}

.head__nav ul li a:hover {
  color: #00648F;
  border-bottom: 2px solid #00648f;
  padding-bottom: 17px;
}

.head__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-item {
  margin: 0 10px 0 0;
  width: 180px;
  height: 40px;
  border: 0.5px solid #308eb6;
  border-radius: 5px;
}

.sociallac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sociallac > a {
  margin: 0 5px;
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 700;
}

.tel > a {
  font-family: 'Arial MT Std', sans-serif;
  color: #000;
}

.swiper-container {
  width: 100%;
  height: 500px;
}

.banner-wrapper {
  background-color: #F6F6F6;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner-text {
  font-family: 'Arial MT Std', sans-serif;
}

.banner-text__price {
  margin: 50px 0 21px 0;
}

.banner-text__price > a {
  text-transform: uppercase;
  font-size: 11px;
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
  padding: 6px 23px;
  display: inline;
  border-radius: 5px;
}

.banner-text__price > a:hover {
  color: #000;
  border: 1px solid  #000;
}

.banner-text > h1 {
  white-space: nowrap;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.banner-text > h2 {
  white-space: nowrap;
  color: #00648f;
  font-size: 30px;
  position: relative;
  font-weight: 700;
  padding: 0 0 40px 0;
}

.banner-text > h2::before {
  content: "";
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: -15px;
  left: 7.5%;
  background-color: #fff;
  display: block;
  position: absolute;
  z-index: -1;
}

.banner-text > h3 {
  font-size: 20px;
  margin: 40px 0 121px 0;
}

.banner-text__calc-price > a {
  color: #000;
  width: 280px;
  height: 50px;
  background: #F13E32;
  border-radius: 4px;
  padding: 13px 33px;
  font-weight: 700;
  color: #fff;
}

.banner-text__calc-price > a:hover {
  border: 1px solid #000;
  color: #000;
}

.banner-people {
  height: 100%;
  position: relative;
  bottom: 0px;
  z-index: 100;
}

.banner-people::after {
  z-index: -1;
  content: '';
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000d9c), color-stop(#1723a5), color-stop(#2e39ae), color-stop(#464fb7), color-stop(#5d65c0), color-stop(#747bc9), color-stop(#8b91d2), color-stop(#a2a7db), color-stop(#b9bde4), color-stop(#d1d3ed), color-stop(#e8e9f6), to(white));
  background-image: -o-linear-gradient(top left, #000d9c, #1723a5, #2e39ae, #464fb7, #5d65c0, #747bc9, #8b91d2, #a2a7db, #b9bde4, #d1d3ed, #e8e9f6, white);
  background-image: linear-gradient(to bottom right, #000d9c, #1723a5, #2e39ae, #464fb7, #5d65c0, #747bc9, #8b91d2, #a2a7db, #b9bde4, #d1d3ed, #e8e9f6, white);
  width: 490px;
  height: 490px;
  position: absolute;
  top: 100px;
  left: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: #00648F !important;
  fill: black !important;
  stroke: black !important;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  content: "";
  border-radius: 50%;
  width: 42px;
  height: 42px;
  top: 9px;
  left: 12px;
  border: 1px solid #00648F;
  background-color: #fff;
  display: block;
  position: absolute;
  z-index: -1;
}

.swiper-button-next::before {
  left: 10px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 20px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 2;
}

.menu__icon {
  display: none;
  right: 30px;
  top: 2px;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}

.menu__link {
  color: #fff;
  font-size: 18px;
}

.menu__arrow {
  display: none;
}

/* ----------------------- */

body._pc .menu__list > li:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* ----------------------- */

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }
}

@media (max-width: 1282px) {
  .head__nav ul li a:hover {
    padding-bottom: 0px;
  }

  .head__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: auto;
    padding-right: 89px;
  }

  .swiper-container {
    height: 460px;
  }

  .banner-text {
    margin-left: 50px;
  }

  .banner-text > h1 {
    font-size: 30px;
  }

  .banner-text > h2 {
    font-size: 24px;
  }

  .banner-text > h3 {
    margin-top: 15px;
  }

  .banner-text > h3 {
    font-size: 16px;
  }

  .menu__icon {
    z-index: 100;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    border-bottom: 2px solid #f0f0f0;
    padding: 0 0 37px 0;
    max-width: 175px;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    z-index: 1100;
    right: 0;
    width: 80%;
    height: 14%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100%;
    background-color: #fff;
    padding: 100px 30px 30px 30px;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
    z-index: 100;
  }

  .menu__body._active {
    right: 0;
  }

  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active {
    display: block;
  }

  .menu__link {
    font-size: 24px;
  }
}

@media (max-width: 1080px) {
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
  }
}

@media (max-width: 991.98px) {
  .banner-people {
    bottom: -40px;
    left: 20px;
  }

  .banner-people .banner-people {
    width: 380px;
    height: 380px;
  }

  .banner-people::after {
    width: 380px;
    height: 380px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}